<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/login.css')}}">
</head>
<body>
    <div class="form-container">
        <form action="/login" method="POST" class="login-form">
            <div class="image-container">
                <img src="{{url_for('static', filename='images/aspen-logo.png')}}" alt="Aspen Logo" class="logo">
            </div>
            <div class="input-container">
                <label for="username" class="form-label">Username</label>
                <input type="text" class="form-input" name="username">
            </div>
            <div class="input-container">
                <label for="password" class="form-label">Password</label>
                <input type="password" class="form-input" name="password">
            </div>
            <div class="button-container">
                <button class="form-button">Login</button>
            </div>
            <div class="register-container">
                <button type="button" class="create-account" onclick="location.href='/register'">Create Account</button>
            </div>
        </form>

        {{error}}
    </div>
</body>
</html>